@charset "UTF-8";
body {
height: 100%;
}
/*header*/
.globalheader {
background: #F3A9CA;
top: 0;
left: 0;
right: 0;
z-index: 9999;
width: 100%;
}
@media (min-width: 992px){
.globalheader {
border-bottom: none;
position: relative;
}
}
.globalheader .logo {
margin-left: 8px;
margin-bottom: 0;
padding-bottom: 0;
line-height: 1;
}
@media (min-width: 992px){
.globalheader .logo {
margin-left: 2rem;
margin-bottom: 0;
}
}
.globalheader .logo img {
padding: 10px 0;
vertical-align: top;
}


/*メインビジュアル*/
.main_visual_area {
background: url("../img/top_bg.jpg") no-repeat top center;
background-size: cover;
}
.bx-wrapper{
  margin: 0 0 0 0;
}
@media (max-width: 767px) {
.bx-wrapper{
  margin: 20px 0 0 0;
}
}
.bx-wrapper img {
  border: 4px solid #fff;
}
#bx-pager{
  width: 100%;
  display: table;
  padding: 0;
}
#bx-pager li{
  display: table-cell;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}
#bx-pager li:first-child{
  border-left: 0px solid transparent;
}
#bx-pager li a img{
  width: 100%;
  display: block;
  opacity: 0.5;
}
#bx-pager a.active img{
  opacity: 1;
}
#bx-pager a:last-child,
#bx-pager_mb a:last-child {
  margin-right: 0;
}
#bx-pager a img,
#bx-pager_mb a img {
  border: 1px solid #ccc;
}
#bx-pager a.active img , #bx-pager a:hover img,
#bx-pager_mb a.active img , #bx-pager_mb a:hover img {
  border: 1px solid #ccc;
}

/*メインテキスト*/
.maintextarea {
text-align: center;
margin: 1rem auto;
}
.main-text { font-size: 1.2em; color: #0C7EA5; font-weight: bold;}
.sub-text { font-size: 1em;}

@media screen and (min-width: 768px) {
.maintextarea {
margin: 2rem auto;
}
.main-text { font-size: 1.5em; color: #0C7EA5; font-weight: bold;}
.sub-text { font-size: 1.1em;}
}


/*バナーエリア*/
.banner_area {
    padding: 2rem 0;
    background:linear-gradient(90deg,#F3A9CA 0%,#F3A9CA 50%,#A0B8DB 50%,#A0B8DB 100%);
}
 .banner_area_inner {
    background-image: url("../img/kikkake-l.png"),url("../img/kikkake-r.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
}
 
@media (max-width: 767px) {
.banner_area {
    padding: 1rem 0;
    background:linear-gradient(180deg,#F3A9CA 0%,#F3A9CA 50%,#A0B8DB 50%,#A0B8DB 100%);
 }
.banner_area_inner {
    background-image: url("../img/kikkake-l.png"),url("../img/kikkake-r.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size:20% auto;
}
}

.course_bnr_img img{
max-width: 100%;
}
.course_bnr_img a {
display: block;
transition: .3s all;
}
.course_bnr_img a:hover {
opacity: .8;
 }
@media (max-width: 767px) {
.course_bnr_img {
margin-top: 1rem;
padding: 0 40px;
}
}

/*sns*/
.sns_area {
margin-top: 10px;
}
@media (max-width: 767px) {
.sns_area {
margin-bottom: 1rem;
margin-top: 10px;
}
}
.sns_list {
margin: 0 auto;
padding: 0;
}
@media (max-width: 767px) {
.sns_list {
margin: 0 auto;
padding: 0;
}
}

/*footer*/
footer {
background: #F4FBFD;
}
@media (max-width: 767px) {
footer {
margin-top: 0;
}
}
footer .copyright {
font-size: 12px;
padding: 1em 0;
text-align: center;
width: 100%;
}

