@charset "UTF-8";
body {
height: 100%;
}
/*header*/
.globalheader {
background: #e8a5be;
top: 0;
left: 0;
right: 0;
z-index: 9999;
width: 100%;
}
@media (min-width: 992px){
.globalheader {
border-bottom: none;
position: relative;
}
}
.globalheader .logo {
margin-left: 8px;
margin-bottom: 0;
padding-bottom: 0;
line-height: 1;
}
@media (min-width: 992px){
.globalheader .logo {
margin-left: 2rem;
margin-bottom: 0;
}
}
.globalheader .logo img {
padding: 10px 0;
vertical-align: top;
}


/*メインビジュアル*/
#bx-pager{
  width: 100%;
  max-width: 930px;
  display: table;
}
#bx-pager li{
  display: table-cell;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}
#bx-pager li:first-child{
  border-left: 0px solid transparent;
}
#bx-pager li a img{
  width: 100%; 
  display: block;
  opacity: 0.5;
}
#bx-pager a.active img{  
  opacity: 1;
}
#bx-pager a:last-child,
#bx-pager_mb a:last-child {
  margin-right: 0;
}
#bx-pager a img,
#bx-pager_mb a img {
  border: 1px solid #ccc;
}
#bx-pager a.active img , #bx-pager a:hover img,
#bx-pager_mb a.active img , #bx-pager_mb a:hover img {
  border: 1px solid #333;
}

@media screen and (max-width: 767px) {
.main_visual_area .main_visual_inner {
  /*padding: 10px;*/
}



}
@media screen and (min-width: 768px) {
.main_visual_area {

}

}

/*メインテキスト*/
.bx-wrapper{
  margin: 0;
}

.maintextarea {
text-align: center;
margin: 3rem auto;
}
.main-text { font-size: 2em; color: #0C7EA5; font-weight: bold;}
.sub-text { font-size: 1.2em;}



/*バナーエリア*/
.banner_area {
margin-top: 2rem;
}
@media (max-width: 767px) {
.banner_area {
margin-top: 2rem;
}
}

.course_bnr_img img{
max-width: 100%;
}
.course_bnr_img a {
display: block;
transition: .3s all;
}
.course_bnr_img a:hover {
opacity: .8;
 }
@media (max-width: 767px) {
.course_bnr_img {
margin: 0 3rem 1rem 3rem;
}
}
/*sns*/
.sns_area {
margin-top: 2rem;
}
@media (max-width: 767px) {
.sns_area {
margin-bottom: 1rem;
margin-top: 1rem;
}
}
.sns_list {
margin: 0 auto;
padding: 0;
}
@media (max-width: 767px) {
.sns_list {
margin: 0 auto;
padding: 0;
}
}
/*footer*/
footer {
background: #e8a5be;
margin-top: 40px;
}
@media (max-width: 767px) {
footer {
margin-top: 0;
}
}
footer .copyright {
font-size: 12px;
padding: 1em 0;
text-align: center;
width: 100%;
}

